<div align="center"><h1>Pandas Options</h1></div>

In [1]:
# Import the pandas library and assign it the alias 'pd'
import pandas as pd

In [2]:
# Create a new DataFrame 'emissions' containing information about 
# CO2 emissions for different countries and years
emissions = pd.DataFrame({
    "country": ['China', 'United States', 'India'],
    "year": ['2018', '2018', '2018'],
    "co2_emissions": [10060000000.0, 5410000000.0, 2650000000.0]
})

In [5]:
# Display the DataFrame 'emissions'
emissions

         country  year  co2_emissions
0          China  2018   1.006000e+10
1  United States  2018   5.410000e+09
2          India  2018   2.650000e+09

In [8]:
# Set the maximum number of rows to display to 2
pd.set_option('display.max_rows', 2)

# Display the DataFrame 'emissions'
emissions

   country  year  co2_emissions
0    China  2018       1.01e+10
..     ...   ...            ...
2    India  2018       2.65e+09

[3 rows x 3 columns]

In [10]:
# Set the maximum number of columns to display to 2
pd.set_option('display.max_columns', 2)

# Display the DataFrame 'emissions'
emissions

   country  ... co2_emissions
0    China  ...      1.01e+10
..     ...  ...           ...
2    India  ...      2.65e+09

[3 rows x 3 columns]

In [12]:
# Set the floating-point formatting for displaying DataFrame floats to two decimal places
# This ensures that floating-point numbers in the DataFrame are displayed with exactly two decimal places

# '{:,.2f}': This part is a format string specifying how the floating-point number should be formatted. Here's what each part means:
# {}: This indicates a placeholder for the value to be formatted.
# ,: This part adds a comma as a thousands separator.
# .2f: This specifies that the value should be formatted as a floating-point number with two decimal places.
pd.options.display.float_format = '{:,.2f}'.format

# Display the DataFrame 'emissions'
# This will show the 'emissions' DataFrame with floating-point numbers formatted to two decimal places
emissions

   country  ...     co2_emissions
0    China  ... 10,060,000,000.00
..     ...  ...               ...
2    India  ...  2,650,000,000.00

[3 rows x 3 columns]