<div align="center">
  <h1>Intro to DataFrames</h1>
</div>

In [2]:
# Import the pandas library and assign it the alias 'pd'
import pandas as pd

In [3]:
# Define a dictionary containing information about scores
scores = {
    # List of names
    "name": ['Ray', 'Japhy', 'Zosa'],
    # List of cities
    "city": ['San Francisco', 'Charlotte', 'Denver'],
    # List of scores
    "score": [75, 92, 94]
}

In [4]:
# Create a DataFrame from the 'scores' dictionary
df = pd.DataFrame(scores)

In [6]:
# This will output the DataFrame 'df', showing the data in a tabular format 
# with columns for 'name', 'city', and 'score'.
# Output: A pandas Series with scores data: 75, 92, 94.
df

    name           city  score
0    Ray  San Francisco     75
1  Japhy      Charlotte     92
2   Zosa         Denver     94

In [7]:
# Access the 'score' column of the DataFrame 'df'
df['score']

0    75
1    92
2    94
Name: score, dtype: int64

In [8]:
# Create a new column in the DataFrame by concatenating 'name' and 'city' columns, 
# separated by an underscore
df['name_city'] = df['name'] + '_' + df['city']

In [10]:
# Filter the DataFrame to select rows where the 'score' column is greater than 90
# Result: A DataFrame containing rows where the score is greater than 90.
df[df['score'] > 90]

    name       city  score        name_city
1  Japhy  Charlotte     92  Japhy_Charlotte
2   Zosa     Denver     94      Zosa_Denver