<div align="center">
    <h1>Top Pandas Functions</h1>
</div>

In [ ]:
# Import the pandas library and assign it the alias 'pd'
import pandas as pd

## Import CSV with pd.read_csv()

In [2]:
# Read the CSV file 'iris.csv' located in the parent directory and create 
# a DataFrame named 'iris_df'
iris_df = pd.read_csv('../iris.csv')

## Explore the data

In [4]:
# Output: The dimensions (number of rows, number of columns)
# of the DataFrame 'iris_df'
iris_df.shape

(150, 5)

In [5]:
# Display the first 3 rows of the DataFrame 'iris_df'
iris_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [6]:
# Display the last 3 rows of the DataFrame 'iris_df'
iris_df.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

## Datatypes

In [16]:
# Display the data types of each column in the DataFrame 'iris_df'
iris_df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

## Subsetting your data with loc & iloc

In [12]:
# Select rows with index labels from 3 to 5 (inclusive) from 
# the DataFrame 'iris_df'
iris_df.loc[3:5]

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

In [9]:
# Select the value in the 'sepal_length' column of the row with index
# label 3 in the DataFrame 'iris_df'
iris_df.loc[3, 'sepal_length']

4.6

In [11]:
iris_df.iloc[3,0]

4.6

In [13]:
# Select the value in the first column (index 0) of the 
# fourth row (index 3) in the DataFrame 'iris_df'
iris_df.iloc[3, 0]

4.6

## Exporting your data as csv using to_csv

In [17]:
# Export the DataFrame 'iris_df' to a CSV file named 'iris_output.csv' 
# without including the index
iris_df.to_csv('iris_output.csv', index=False)