<div align="center"><h1>Data Types</h1></div>

In [10]:
# Import the pandas library and assign it the alias 'pd'
import pandas as pd

In [11]:
# Read the CSV file 'planets.csv' located in the parent directory and create 
# a DataFrame named 'planets_df'
planets_df = pd.read_csv('../planets.csv')

In [12]:
# Display the first 3 rows of the DataFrame ''
planets_df.head(3)

            method  number  orbital_period  mass  distance  year
0  Radial Velocity       1         269.300  7.10     77.40  2006
1  Radial Velocity       1         874.774  2.21     56.95  2008
2  Radial Velocity       1         763.000  2.60     19.84  2011

In [13]:
# Display the data types of each column in the DataFrame
planets_df.dtypes

method             object
number              int64
orbital_period    float64
mass              float64
distance          float64
year                int64
dtype: object

In [16]:
# Compute the mean values of numeric columns in the DataFrame 'planets_df'
planets_df.mean(numeric_only=True)

number               1.785507
orbital_period    2002.917596
mass                 2.638161
distance           264.069282
year              2009.070531
dtype: float64

In [18]:
# Calculate the ratio of the value in the 'number' column at index 0 to 
# the value in the 'mass' column at index 0
planets_df['number'][0] / planets_df['mass'][0]

0.14084507042253522

In [20]:
# Convert the value in the 'number' column at index 0 to a floating-point number
planets_df['number'][0].astype(float)

1.0

In [21]:
# Convert the value in the 'mass' column at index 0 to an integer
planets_df['mass'][0].astype(int)

7

In [22]:
# Convert the value in the 'year' column at index 0 to a string
planets_df['year'][0].astype(str)

'2006'

In [26]:
# Create a new column 'year_td' in the DataFrame 'planets_df' with datetime objects containing only the year component
planets_df['year_td'] = pd.to_datetime(planets_df['year'], format='%Y')
# Retrieve the values stored in the 'year_td' column of the DataFrame 'planets_df'
planets_df['year_td']

0      2006-01-01
1      2008-01-01
2      2011-01-01
3      2007-01-01
4      2009-01-01
          ...
1030   2006-01-01
1031   2007-01-01
1032   2007-01-01
1033   2008-01-01
1034   2008-01-01
Name: year_td, Length: 1035, dtype: datetime64[ns]