<div align="center"><h1>Working with Strings</h1></div>

In [1]:
# Import the pandas library and assign it the alias 'pd'
import pandas as pd

In [2]:
# Create a pandas Series 'names_df' containing strings representing names
names_df = pd.Series(['Pomeray, CODY ', ' Wagner; Jarry', 'smith, Ray'])

In [3]:
# Replace all occurrences of ';' with ',' in each string of the 'names_df' Series
names_df = names_df.str.replace(';', ',')

# Display the modified Series 'names_df'
names_df

0    Pomeray, CODY
1     Wagner, Jarry
2        smith, Ray
dtype: object

In [4]:
# Compute the length of each string in the 'names_df' Series
names_df.str.len()

0    14
1    14
2    10
dtype: int64

In [5]:
# Remove leading and trailing whitespace from each string in the 'names_df' Series
names_df = names_df.str.strip()

# Compute the length of each string in the 'names_df' Series after stripping whitespace
names_df.str.len()

0    13
1    13
2    10
dtype: int64

In [6]:
# Convert all strings in the 'names_df' Series to lowercase
names_df = names_df.str.lower()

# Display the modified Series 'names_df'
names_df

0    pomeray, cody
1    wagner, jarry
2       smith, ray
dtype: object

In [7]:
# Convert all strings in the 'names_df' Series to uppercase
names_df = names_df.str.upper()

# Display the modified Series 'names_df'
names_df

0    POMERAY, CODY
1    WAGNER, JARRY
2       SMITH, RAY
dtype: object

In [8]:
# Split each string in the 'names_df' Series by the ', ' delimiter
names_df = names_df.str.split(', ')

# Display the modified Series 'names_df'
names_df

# The output will be a Series of lists, 
# where each list contains the parts of the original strings that were separated by ',

0    [POMERAY, CODY]
1    [WAGNER, JARRY]
2       [SMITH, RAY]
dtype: object